@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Special Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F9F7F7;
}


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

